<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>CampusRun</title>
    <link rel="shortcut icon" href="TemplateDataNewGameView/favicon.ico" />
    <link rel="stylesheet" href="TemplateDataNewGameView/style.css" />
    <link rel="stylesheet" href="../static/css/progressbar.css" />
    <link rel="stylesheet" href="../static/css/gameresult.css" />
    <link rel="stylesheet" href="../static/css/gameScene.css" />
    <script src="TemplateDataNewGameView/UnityProgress.js"></script>
    <script src="BuildNewGameView/UnityLoader.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="client.js"></script>
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="../static/js/gameManager.js"></script>
    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"
    ></script>
    <script>
      var unityInstance = UnityLoader.instantiate(
        "unityContainer",
        "BuildNewGameView/Desktop.json",
        { onProgress: UnityProgress }
      );
    </script>
  </head>
  <body>
    <div class="progressview" style="display: block;">
      <img src="../Assets/image/logo-long-black.png" class="logo-left" onclick="location.href='/home'">
      <div class="progresstext">LOADING...</div>
      <img src="../TemplateDataPlaza/wheel.png" class="tire tire-rotate">
    </div>

    <div class="webgl-content" id ="webgl-id" style="margin: 0; display:none;">
      <div id="unityContainer" style="width: 100vw; height: 100vh"></div>
    </div>

    <div class="winnerPopUp">
      <span class="winnerName"></span>님이 1등으로 결승선을 통과하였습니다!<br>
      잠시 후 경기가 종료됩니다.
    </div>

    <div class="endCountDown">
      10
    </div>


    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="ranking-title">
          <img src="../Assets/image/WIN.png">
        </div>
        <div class="ranking-body">
          <table>
            <thead>
              <tr>
                <td>순위</td>
                <td>닉네임</td>
                <td>대학교</td>
                <td>랩타임</td>
              </tr>
            </thead>
            <tbody class="resultTableBody">
              <tr class="spacer">
                <td>&nbsp;</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="univ-logo">
          <div class='winner' style="font-family: 'impact'; font-size: 30px; font-weight: bold; letter-spacing: 4px;">우승 학교</div>
          <img src="../Assets/image/caulogo.png">
        </div>
        <button class="close-btn" onClick="close_pop();">CLOSE</button>
      </div>
 
    </div>

  </body>
    <div class="KAKAOID" style="display: none"><%= kakaoId %></div>
    <div class="username" style="display: none"><%= userName %></div>
  </body>
  
</html>
