<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>CampusRun</title>
    <link rel="shortcut icon" href="TemplateDataGameView/favicon.ico" />
    <link rel="stylesheet" href="TemplateDataGameView/style.css" />
    <link rel="stylesheet" href="TemplateDataPlaza/progressbar.css" />
    <link rel="stylesheet" href="TemplateDataGameView/game_style.css" />
    <script src="TemplateDataGameView/UnityProgress.js"></script>
    <script src="BuildGameView/UnityLoader.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="client.js"></script>
    <!-- <script src="test.js"></script> -->

    <script>
      var unityInstance = UnityLoader.instantiate(
        "unityContainer",
        "BuildGameView/Downloads.json",
        { onProgress: UnityProgress }
      );
    </script>
  </head>
  <body>
    <div class="progressview">
      <img src="../Assets/image/logo-long-black.png" class="logo-left" onclick="location.href='/home'">
      <div class="progresstext">LOADING...</div>
      <img src="../TemplateDataPlaza/wheel.png" class="tire tire-rotate">
    </div>

    <div class="webgl-content" style="margin: 0;">
      <div id="unityContainer" style="width: 100vw; height: 100vh"></div>
    </div>

    <button class="start-btn" id="btn_id" onclick="emitJoin()">
      START GAME
    </button>
  </body>
  <script>
    function emitJoin() {
      socket.emit(
        "LOGIN",
        JSON.stringify({
          name: `<%= kakaoEmail %>`,
          position: "-50:124.633828:2",
          avatar: "1"
        })
      );
      document.getElementById("btn_id").style.display = "none";
    }
  </script>
</html>
