<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>CampusRun</title>
  </head>
  <body>
    Landing page
    <button onclick="goPlaza()">광장으로 가기</button>
  </body>
  <script type="text/javascript">
    function goPlaza() {
      location.href = "/plaza";
    }
  </script>
</html>
