<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>CampusRun</title>

    <!-- static route -->
    <link rel="stylesheet" href="../static/css/LandingPage.css" />
  </head>
  <body>
    <div class="landingBackground">
      <img
        class="subLandingBackground"
        src="../Assets/image/SubLandingPageBackground.png"
      />
      <!-- Landing page
      <button onclick="goPlaza()">광장으로 가기</button> -->
    </div>
    <img id="kakaoLoginButton" src="../Assets/image/KakaoLogin.png" />
  </body>
  <script type="text/javascript">
    function goPlaza() {
      location.href = "/plaza";
    }
  </script>
</html>
