<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>CampusRun</title>
    <meta name="description" content="" />
    <meta name="author" content="Tooplate" />
    <!-- Bootstrap core CSS -->
    <link
      href="../static/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Additional CSS Files -->
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/fontawesome.css" />
    <link rel="stylesheet" href="../static/css/tooplate-style.css" />
    <link rel="stylesheet" href="../static/css/owl.css" />
    <link rel="stylesheet" href="../static/css/lightbox.css" />
    <link rel="stylesheet" href="../static/css/style2.css" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="../static/js/mainScript.js"></script>
  </head>
  <body>
    <img
      id="main-img"
      src="../Assets/image/main-bg.png"
      style="display: none"
    />

    <div class="box1">
      <canvas id="my-canvas"></canvas>
      <script>
        drawSection1();
      </script>
    </div>
  </body>
</html>
