<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>CampusRun</title>
    <meta name="description" content="" />
    <meta name="author" content="Tooplate" />
    <!-- Bootstrap core CSS -->
    <link
      href="../static/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Additional CSS Files -->
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/fontawesome.css" />
    <link rel="stylesheet" href="../static/css/tooplate-style.css" />
    <link rel="stylesheet" href="../static/css/owl.css" />
    <link rel="stylesheet" href="../static/css/lightbox.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="page-wraper">
      <!-- Sidebar Menu -->
      <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
          <i class="fa fa-times" id="menu-close"></i>
          <div class="container">
            <div class="image">
              <a href="#"
                ><img
                  src="../Assets/image/logo-image.jpg"
                  alt="Blugoon by Tooplate"
              /></a>
            </div>
            <div class="author-content">
              <h4><%= userName %></h4>
              <h6 style="color: white"></h6>
              <span><%= kakaoEmail %></span>
            </div>
            <nav class="main-nav" role="navigation">
              <ul class="main-menu">
                <li><a href="#section1">Play</a></li>
                <li><a href="#section2">Ranking</a></li>
                <li><a href="#section3">Event</a></li>
              </ul>
            </nav>
            <div class="copyright-text">
              <p>
                Team <strong>Junction Again</strong><br />
                in <strong>Chungang University</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
      <section class="section about-me" data-section="section1">
        <div class="container">
          <div class="section-heading">
            <h2>Campus Run</h2>
            <div class="line-dec"></div>
            <span style="font-size: 20px"
              >지금까지 한번도 경험하지 못한 레이싱 게임을 만나보세요!</span
            >
          </div>
          <br /><br />
          <div class="right-image-post">
            <div class="row">
              <div class="col-md-8">
                <div class="left-text">
                  <h4>대학 이메일 인증하기</h4>
                  <p>
                    대학 이메일 인증을 통해 캠퍼스런을 더욱 즐겁게 플레이하세요.
                  </p>
                  <p>
                    소속 대학의 라벨을 받을 수 있으며,<br />
                    학교대항전 등, 다양하고 특별한 게임을 즐길 수 있습니다!
                  </p>
                  <div class="white-button">
                    <a href="javascript:verifyModalOn()">인증하기</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="right-image">
                  <img
                    src="../Assets/image/mountain-reflection.jpg"
                    alt="Mountain Reflection"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="left-image-post">
            <div class="row">
              <div class="col-md-4">
                <div class="left-image">
                  <img
                    src="../Assets/image/girl-nature.jpg"
                    alt="Nature Girl"
                  />
                </div>
              </div>

              <div class="col-md-8">
                <div class="right-text">
                  <h4>Campus Plaza</h4>
                  <p>Campus Plaza에서 다양한 사람들과 소통하고 경쟁하세요.</p>
                  <p>Campus Plaza에는 사적모임 인원제한이 없습니다! ^^</p>
                  <div class="white-button">
                    <a href="/plaza">Campus Plaza로 이동하기</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section my-services" data-section="section2">
        <div class="container">
          <div class="section-heading">
            <h2>Ranking</h2>
            <div class="line-dec"></div>
            <span style="font-size: 20px"
              >캠퍼스런의 영광의 실력자들은 누구인지, 지금 확인해보세요!</span
            >
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="service-item">
                <i class="fa fa-area-chart"></i>
                <h4>Speedy Player</h4>
                <p>캠퍼스런의 가장 빠른 플레이어를 확인해보세요!</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-item">
                <i class="fa fa-university"></i>
                <h4>Best University</h4>
                <p>캠퍼스런 최고의 대학은 어느 학교일지 확인해보세요!</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-item">
                <i class="fa fa-university"></i>
                <h4>Most Played</h4>
                <p>캠퍼스런을 가장 많이 즐긴 플레이어를 확인해보세요!</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section my-work" data-section="section3">
        <div class="container">
          <div class="section-heading">
            <h2>Event</h2>
            <div class="line-dec"></div>
            <span style="font-size: 20px"
              >캠퍼스런의 최신 소식을 확인해보세요!</span
            >
          </div>
          <div class="row">
            <div class="isotope-wrapper">
              <form class="isotope-toolbar">
                <label
                  ><input
                    type="radio"
                    data-type="*"
                    checked=""
                    name="isotope-filter"
                  />
                  <span>All</span></label
                >
                <label
                  ><input
                    type="radio"
                    data-type="pretty"
                    name="isotope-filter"
                  />
                  <span>New</span></label
                >
                <label
                  ><input type="radio" data-type="sexy" name="isotope-filter" />
                  <span>Notification</span></label
                >
                <label
                  ><input
                    type="radio"
                    data-type="beach"
                    name="isotope-filter"
                  />
                  <span>Character</span></label
                >
              </form>
              <div class="isotope-box">
                <div class="isotope-item" data-type="beach">
                  <figure class="snip1321">
                    <img
                      src="../Assets/image/school.png"
                      alt="woman at the beach"
                    />
                    <figcaption>
                      <a
                        href="../Assets/image/school.png"
                        data-lightbox="image-1"
                        data-title="Caption"
                        ><i class="fa fa-search"></i
                      ></a>
                      <h4>Girl One</h4>
                      <span>woman at the beach</span>
                    </figcaption>
                  </figure>
                </div>

                <div class="isotope-item" data-type="sexy">
                  <figure class="snip1321">
                    <img src="../Assets/image/school.png" alt="sq-sample26" />
                    <figcaption>
                      <a
                        href="../Assets/image/woman-chair-sunshine.jpg"
                        data-lightbox="image-1"
                        data-title="Sunshine Woman"
                        ><i class="fa fa-search"></i
                      ></a>
                      <h4>Sexy Lady</h4>
                      <span>there you go sexy girl</span>
                    </figcaption>
                  </figure>
                </div>

                <div class="isotope-item" data-type="pretty">
                  <figure class="snip1321">
                    <img src="../Assets/image/school.png" alt="Pretty Girl" />
                    <figcaption>
                      <a
                        href="../Assets/image/school.png"
                        data-lightbox="image-1"
                        data-title="Pretty Girl"
                        ><i class="fa fa-search"></i
                      ></a>
                      <h4>Pretty Girl</h4>
                      <span>red flowers white girl</span>
                    </figcaption>
                  </figure>
                </div>

                <div class="isotope-item" data-type="pretty">
                  <figure class="snip1321">
                    <img
                      src="../Assets/image/school.png"
                      alt="Escalator Blue"
                    />
                    <figcaption>
                      <a
                        href="../Assets/image/escalator-blue.jpg"
                        data-lightbox="image-1"
                        data-title="Escalator Blue"
                        ><i class="fa fa-search"></i
                      ></a>
                      <h4>Escalator Up</h4>
                      <span>Blue architecture building</span>
                    </figcaption>
                  </figure>
                </div>

                <div class="isotope-item" data-type="beach">
                  <figure class="snip1321">
                    <img src="../Assets/image/school.png" alt="woman feeling" />
                    <figcaption>
                      <a
                        href="../Assets/image/woman-feeling.jpg"
                        data-lightbox="image-1"
                        data-title="Her Feeling"
                        ><i class="fa fa-search"></i
                      ></a>
                      <h4>Her Feeling</h4>
                      <span>Ut sollicitudin risus</span>
                    </figcaption>
                  </figure>
                </div>

                <div class="isotope-item" data-type="sexy">
                  <figure class="snip1321">
                    <img src="../Assets/image/school.png" alt="Bikini Girl" />
                    <figcaption>
                      <a
                        href="../Assets/image/woman-bikini.jpg"
                        data-lightbox="image-1"
                        data-title="Sexy Bikini"
                      >
                        <i class="fa fa-search"></i
                      ></a>
                      <h4>Bikini Girl</h4>
                      <span>Donec eget massa ante</span>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="verify-modal" style="display: none">
        <div
          style="
            background-color: #e663a4;
            border-radius: 16px;
            width: 400px;
            height: 300px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          "
        >
          <br /><br />
          <h5 style="text-align: center">대학교 메일주소를 입력하세요</h5>
          <input
            type="text"
            class="email-address"
            style="
              position: absolute;
              top: 48%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 70%;
              height: 30px;
            "
          />
          <div
            style="
              text-align: center;
              position: absolute;
              left: 50%;
              bottom: 14px;
              transform: translate(-50%, -50%);
              width: 100%;
            "
          >
            <div
              class="white-button"
              style="display: inline-block; margin: 0 10px; border-radius: 10px"
            >
              <a href="javascript:univEmailVerify()">인증메일 전송</a>
            </div>
            <div
              class="white-button"
              style="display: inline-block; margin: 0 10px; border-radius: 10px"
            >
              <a href="javascript:verifyModalOff()">닫기</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="../static//js/isotope.min.js"></script>
    <script src="../static/js/owl-carousel.js"></script>
    <script src="../static/js/lightbox.js"></script>
    <script src="../static/js/custom.js"></script>
    <script>
      //according to loftblog tut
      $(".main-menu li:first").addClass("active");

      var showSection = function showSection(section, isAnimate) {
        var direction = section.replace(/#/, ""),
          reqSection = $(".section").filter(
            '[data-section="' + direction + '"]'
          ),
          reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $("body, html").animate(
            {
              scrollTop: reqSectionPos,
            },
            800
          );
        } else {
          $("body, html").scrollTop(reqSectionPos);
        }
      };

      var checkSection = function checkSection() {
        $(".section").each(function () {
          var $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var currentId = $this.data("section"),
              reqLink = $("a").filter("[href*=\\#" + currentId + "]");
            reqLink
              .closest("li")
              .addClass("active")
              .siblings()
              .removeClass("active");
          }
        });
      };

      $(".main-menu").on("click", "a", function (e) {
        e.preventDefault();
        showSection($(this).attr("href"), true);
      });

      $(window).scroll(function () {
        checkSection();
      });

      const verifyModalOn = () => {
        document.querySelector(".verify-modal").style.display = "block";
        document.querySelector("html").style.overflow = "hidden";
      };

      const verifyModalOff = () => {
        document.querySelector(".verify-modal").style.display = "none";
        document.querySelector("html").style.overflow = "scrollY";
      };

      const univEmailVerify = () => {
        let address = document.querySelector(".email-address").value;
        const IDTOKEN = document.querySelector("#idToken").innerHTML;
        $.ajax({
          url: "http://localhost:8000/verifyUnivAction/",
          type: "GET",
          async: false,
          data: {
            token: IDTOKEN,
            email: address,
          },
          success: function (data) {
            console.log(data);
            if (data === "success") {
              alert(
                `${address}로 전송된 이메일을 통해 대학 인증을 완료하세요!`
              );
            } else {
              alert(`인증메일 전송에 실패하였습니다\n잠시후 다시 시도하세요.`);
            }
          },
        });
      };
    </script>
  </body>
</html>
