<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Waiting ..</title>
    <meta name="description" content="" />
    <meta name="author" content="Tooplate" />
    <link rel="stylesheet" href="../static/css/fontawesome.css" />
    <link rel="stylesheet" href="../static/css/tooplate-style.css" />
    <link rel="stylesheet" href="../static/css/waitRoom.css" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="room-title">방 제목: [ 아무나 이겨줄게 !! ]</div>
    <div class="main-board">
      <div class="left-side">
        <div class="team-space home-space">
          <div class="entry">
            <div class="nickname">코딩꿈나무영권</div>
            <div class="univ">중앙대</div>
            <div class="profileImg">IMG</div>
          </div>
          <div class="entry">
            <div class="nickname">코딩꿈나무영권</div>
            <div class="univ">중앙대</div>
            <div class="profileImg">IMG</div>
          </div>
          <div class="entry">
            <div class="nickname">코딩꿈나무영권</div>
            <div class="univ">중앙대</div>
            <div class="profileImg">IMG</div>
          </div>
          <div class="entry">
            <div class="nickname">코딩꿈나무영권</div>
            <div class="univ">중앙대</div>
            <div class="profileImg">IMG</div>
          </div>
        </div>
        <div class="team-space away-space">
          <div class="entry">
            <div class="nickname">한국대 폭주족</div>
            <div class="univ">한국대</div>
            <div class="profileImg">IMG</div>
          </div>
          <div class="entry">
            <div class="nickname">한국대 폭주족</div>
            <div class="univ">한국대</div>
            <div class="profileImg">IMG</div>
          </div>
          <div class="entry">
            <div class="nickname">한국대 폭주족</div>
            <div class="univ">한국대</div>
            <div class="profileImg">IMG</div>
          </div>
          <div class="entry">
            <div class="nickname">한국대 폭주족</div>
            <div class="univ">한국대</div>
            <div class="profileImg">IMG</div>
          </div>
        </div>
      </div>
      <div class="right-side">
        <div class="map-container">
          <div class="map-name">중앙대학교 310관</div>
          <div class="map-img"></div>
        </div>
        <div class="chat-container">채팅자리임</div>
        <div class="btn-container">
          <div class="btn btn-game-start">게임 시작</div>
          <div class="btn btn-quit">나가기</div>
        </div>
      </div>
    </div>
  </body>
</html>
