<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusRun</title>
</head>
<body>
    <!--방장이 방 생성할 때 자동으로 이동하게 대기실+화상채팅 뷰를 만들고 싶었음..-->
    대기실
</body>
</html>