
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@800&display=swap');
.progressview{
    width:100%;
    height:100%;
    position:absolute;
    background-color: cornflowerblue;
}
.logo-left{
    position:absolute;
    left:50px;
    top:5px;
    width: 300px;
    height: 80px;
}

.progresstext{
    position:fixed;
    left:40%;
    top:30%;
    z-index: 1;
    
    font-size: 90px;
    min-width:11px;

    font-family: 'Barlow Condensed', sans-serif;
    color: transparent;
    transform: translate(-50%, -50%);
}

.progresstext::before {
    content: "LOADING...";
    position: fixed;
    top: 30%;
    left: 40%;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    overflow: hidden;
    border-right: 1px;
    animation: typing 3s steps(31) 1;
  }
  
  @keyframes typing{
    0% {
      width: 0%;
    }

    100% {
      width: 100%;
    }
  }


.tire{
    position:fixed;
    left:40%;
    top:50%;
    width:18%;
}
.tire-rotate {animation: tire-rotate 0.3s linear infinite;}

@keyframes cursor{
    0%{border-right: 1px solid #fff}
    50%{border-right: 1px solid #000}
    100%{border-right: 1px solid #fff}
}
@keyframes tire-rotate{
    0% {transform: ratate(0);}
    100% {transform: rotate(360deg);}
}

/*
*{margin:0; padding:0;}
.progressview{
    width:100%;
    height:742px;
    position: relative;
    overflow:hidden;
}
.backimg{
    position: relative;
    height: 100%;
    background-image:url('../Assets/image/8.jpg');
}

.logo-left{
    position:absolute;
    left: 50px;
    top:5px;
    width: 300px;
    height: 80px;
}

.progresstext{
    position:absolute;
    left:50%;
    top:20%;
    z-index: 1;
    
    text-align: center;
    font-size: 100px;
    min-width:11px;
    white-space: nowrap;

    font-family: 'Lobster', cursive;

    color: transparent;
    transform: translate(-50%, -50%);
}


.progresstext::before {
    content: "READY TO RUN?!";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    overflow: hidden;
    border-right: 1px;
    animation: typing 3s steps(31) 1;
  }
  
  @keyframes typing{
    0% {
      width: 0%;
    }

    100% {
      width: 100%;
    }
  }


.tire01{
    position:absolute;
    left:25%;
    top:68%;
    width:18%;
}
.tire02{
    position:absolute;
    left:71%;
    top:68%;
    width:18%;
}
.tire-rotate {animation: tire-rotate 0.3s linear infinite;}

@keyframes cursor{
    0%{border-right: 1px solid #fff}
    50%{border-right: 1px solid #000}
    100%{border-right: 1px solid #fff}
}
@keyframes tire-rotate{
    0% {transform: ratate(0);}
    100% {transform: rotate(360deg);}
}
*/