
.winnerPopUp {
  z-index: 1000;
  width: 100%;
  height: 40px;
  padding: 15px 0;
  text-align: center;
  position: absolute;
  left: 0;
  top: -70px;
  line-height: 20px;
  transition: all 0.5s linear;
  font-family: 'ROKABold';
  background-color: #5bbbcc;
  font-size: 17px;
}

@font-face {
  font-family: 'ROKABold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.1/ROKABold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}