body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.landingBackground {
  z-index: 1;
  border: 0;
  padding: 0;
  background-image: url("../../Assets/image/LandingPageBackground.png");
  min-height: 100%;
  background-position: center;
  background-size: cover;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  align-items: center;
}

.subLandingBackground {
  border: 0;
  width: 65%;
  min-height: 80%;
  float: center;
  text-align: center;
  vertical-align: middle;
}

#kakaoLoginButton {
  z-index: 15;
  float: center;
  margin: -30% 0 12% 23%;
}
