body {
  font-family: "Open Sans", arial;
  color: #fff;
  font-weight: 300;
  background: #ee9ca7;
  background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);
  background: linear-gradient(to right, #ffdde1, #ee9ca7);
}

nav {
  background: #00bbbb;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 70px;
  overflow: hidden;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}
a {
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 13px;
  display: table;
  width: 250px;
  border-top: 1px solid #03a2a2;
}
.fa {
  position: relative;
  width: 70px;
  height: 36px;
  text-align: center;
  top: 12px;
  font-size: 20px;
}
nav .nav-text {
  position: relative;
  top: 12px;
}

a:hover {
  color: #fff;
  background-color: #3863f4;
}
nav:hover {
  width: 250px;
}
.logo {
  width: 70px;
  font-family: "Tangerine", serif;
  text-align: center;
  transition: all 0.5s ease;
}
.label {
  height: 0px;
  float: left;
  width: 70px;
  transition: all 0.5s ease;
  font-family: "Tangerine", serif;
  opacity: 0;
}
nav:hover > .logo {
  width: 250px;
}
nav:hover > .logo > h2 {
  text-indent: -999px;
}
nav:hover > .logo > h2:before {
  text-indent: 0px;
  content: "OnAirCode";
  float: left;
  position: relative;
  left: 60px;
}
nav:hover > .label {
  height: 50px;
  width: 250px;
  opacity: 1;
  color: black;
  text-align: center;
}
.mid-block {
  background-color: #076868;
  text-transform: capitalize;
  box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55),
    inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
}
.scrollbar {
  height: 90%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

#style-1::-webkit-scrollbar-track {
  border-radius: 2px;
}

#style-1::-webkit-scrollbar {
  width: 5px;
  background-color: #f7f7f7;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #bfbfbf;
}

.scrollbar:hover {
  height: 90%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}