@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@charset "utf-8";
.createroom-btn{
    position:absolute;
    z-index: 10;
    top: 10px;
    right: 5px;
    margin:10px; 
    width: 15%;
    height: 50px;
    border: 0;
    outline:0;
    box-sizing: border-box;
    background-color:rgba(255, 99, 71, 0.7);
    font-weight: bold;
    font-size:30px;
    color:whitesmoke;
    font-family: 'Do Hyeon', sans-serif;
    cursor: pointer;


    animation-name: appear;
    animation-duration: 0s;
    animation-timing-function: linear;
    animation-iteration-count: 2;
    animation-fill-mode: backwards;
    animation-play-state: running;
}

.inviteroom-btn{
    position:absolute;
    z-index: 10;
    top: 70px;
    right: 5px;
    margin:10px; 
    width: 15%;
    height: 50px;
    border:0;
    outline:0;
    box-sizing: border-box;
    background-color: rgba(100, 149, 237, 0.7);
    font-weight: bold;
    font-size:30px;
    color:whitesmoke;
    font-family: 'Do Hyeon', sans-serif;
    cursor: pointer;


    animation-name: appear;
    animation-duration: 0s;
    animation-timing-function: linear;
    animation-iteration-count: 2;
    animation-fill-mode: backwards;
    animation-play-state: running;
}


@keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.createroom-btn:after {
  background-clip: padding-box;
  background-color: rgba(255, 99, 71, 0.7);
  border: solid transparent;

  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.createroom-btn:main,
.createroom-btn:focus {
  user-select: auto;
}

.createroom-btn:hover:not(:disabled) {
  filter: brightness(1.1);
}

.createroom-btn:disabled {
  cursor: auto;
}


.inviteroom-btn:after {
  background-clip: padding-box;
  background-color: rgba(100, 149, 237, 0.7);
  border: solid transparent;

  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.inviteroom-btn:main,
.inviteroom-btn:focus {
  user-select: auto;
}

.inviteroom-btn:hover:not(:disabled) {
  filter: brightness(1.1);
}

.inviteroom-btn:disabled {
  cursor: auto;
}