html {
  scroll-behavior: smooth;
}

body {
  height: auto;
}

nav {
  position: fixed;
  width: 100vw;
  height: 80px;
  z-index: 10;
}

nav div {
  display: inline-block;
}

nav .fa {
  font-size: 24px;
}

#nav-title {
  display: inline-block;
  width: 300px;
  height: 80px;
  margin-left: 50px;
  background-image: url("../../Assets/image/logo-long-white.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.nav-right-side {
  float: right;
  line-height: 80px;
}

.nav-right-side div {
  margin: 0 20px;
  font-size: 20px;
  cursor: pointer;
}

.nav-right-side .dummy-space {
  width: 50px;
  opacity: 0;
}

.section {
  position: relative;
  left: 0;
  width: 100vw;
  border: none;
}

#sec-01 {
  transform: translate(0, 78px);
  z-index: 1;
}

#sec-02 {
  width: 100vw;
  height: calc(100vh + 200px);
  background: url("../../Assets/image/second-sec.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(0, -36vh);
  z-index: 0;
}

#sec-03 {
  transform: translate(0, -40vw);
  z-index: 1;
}

@media screen and (max-width: 1200px) {
  #sec-03 {
    transform: translate(0, -48vw);
  }
}

#sec-04 {
  width: 100vw;
  height: calc(100vh + 200px);
  background: url("../../Assets/image/last-sec.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(0, -140vh);
  z-index: -1;
}

.blur {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
}

a {
  text-decoration: none;
}

.content-title {
  font-size: 32px;
  font-family: "impact";
  letter-spacing: 2px;
}

#sec-02 .content-title img {
  width: 80%;
}

#sec-03 .content-title img {
  width: 80%;
}

#sec-04 .content-title img {
  width: 80%;
}

#sec-02 .content {
  color: #2fa9ba;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
  font-family: "twayair";
  z-index: 15;
}

#sec-02 .plaza-btn {
  border: solid 2px #2fa9ba;
  border-radius: 14px;
  padding: 10px;
  display: inline-block;
  width: 180px;
  height: 50px;
  font-size: 20px;
  color: #2fa9ba;
}

#sec-03 .content {
  color: #c1a744;
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
  font-family: "twayair";
}

.ranking-icon {
  display: inline-block;
  margin: 0 54px;
  line-height: 50px;
  cursor: pointer;
}

.ranking-icon i {
  font-size: 90px;
}

#sec-04 .content {
  color: #565d66;
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
  font-family: "twayair";
}

.verify-modal {
  position: absolute;
  border: none;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10000;
}

.modal-board {
  border-radius: 4px;
  width: 400px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #2fa9ba;
  background-color: #efefef;
}

@font-face {
  font-family: "impact";
  src: url("../fonts/impact.ttf");
}

@font-face {
  font-family: "twayair";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
