.start-btn {
    position:fixed;
    top: 500px;
    left: 300px;
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 16px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 25%;
    z-index: 100;


    animation-name: appear;
    animation-duration: 0s;
    animation-timing-function: linear;
    animation-delay: 4s;
    animation-iteration-count: 2;
    animation-fill-mode: backwards;
    animation-play-state: running;
}

@keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.start-btn:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.start-btn:main,
.start-btn:focus {
  user-select: auto;
}

.start-btn:hover:not(:disabled) {
  filter: brightness(1.1);
}

.start-btn:disabled {
  cursor: auto;
}
