.progresscontent * {
    border:0;
    margin:0;
    padding:0;
    position: absolute;
}

.progressbar{
    top:50%;
    left:35%;
    height: 10px;
    width: 30%;
    border: 10px solid #f4a261;
    border-radius: 15px;
}
.progressbar .color{
    background-color: rgb(37, 255, 219);
    width: 0px;
    height: 10px;
    border-radius: 15px;
    animation: progres 4s linear;
}

@keyframes progres{
    0%{
      width: 0%;
    }
    25%{
        width: 50%;
    }
    50%{
        width: 75%;
    }
    75%{
        width: 85%;
    }
    100%{
        width: 100%;
    }
};
